{% extends 'base.html.twig' %}

{% block title %}Pense le monde{% endblock %}

{% block body %}
<p>Pense le monde est un lieu de rencontre entre les creatifs ayant des idées innovantes plein la tête et les entrepreneurs pres a passer a l'action mais manquant d'inspiration ou voulant tester leur idée avant de se lancé.</p>
<p>Chaque jours un sujet de reflexion est proposé, tout types de themes sont abordé, n'hesitez pas a contribuer.
        Vous avez a votre disposition une barre de recherche wikipedia pour ameliorer la comprehension des sujets sans avoir a quitter la page.</p>

    <p>Vous pouvez me contacter aà l'adresse mail suivante : Baou75@hotmail.com</p>
{% endblock %}
